extends layout

block content

  h1 Log In

  form#login-form(method='POST' action='/auth/login')
    if errors
      div.form-group
        for error in errors
          div.alert.alert-dismissable.alert-danger.fade.show(role="alert")!= error.msg
            button.close(type="button", data-dismiss="alert", aria-label="Close")
              span(aria-hidden="true") &times;

    div.form-group
      label(for='email') Email
      input#email.form-control(type="email", name="email", autocomplete='email', autofocus, required, value=credentials===undefined? '' : credentials.email, placeholder='Email address')
    div.form-group
      label(for='current-password') Password
      input#current-password.form-control(type="password", name="current-password", autocomplete='password', required, placeholder='Enter password')
    button.btn.btn-primary(type='submit') Sign in
  
  div Don't have an account?
    a(href="/auth/signUp")  Sign Up